.header{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    max-height: 99vh;
    /* background-color; black; */
    gap: 10px;
    }
    
    .Elemento1{
    background-color: red;
    grid-row: 1;
    grid-column: 1/9;
    }
    
    .Elemento2{
    background-color: green;
    grid-row: 2/4;
    grid-column: 1/9;
    }
    
    .Elemento3{
    background-color: purple;
    grid-row: 4/6;
    grid-column: 1/9;
    }
    
    .Elemento4{
    background-color: yellow;
    grid-row: 6;
    grid-column: 1/9;
    }

    